<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asgreywolf.mediapause"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Dialog">
        <activity
            android:name="com.asgreywolf.mediapause.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.asgreywolf.mediapause.MainActivityp"
            android:label="@string/app_namep" 
            android:icon="@drawable/ic_launcherp">
            <intent-filter>
<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asgreywolf.mediapause.MainActivityn"
            android:label="@string/app_namen"
            android:icon="@drawable/ic_launchern" >
            <intent-filter>
<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="AsService"></service>
    </application>

</manifest>
